<table>
	<tr>
		<td>
			<div>
				<% @pages.each do |f|%>
					<%=link_to f.title, :action=>"details",:parent_id => @parent_id,:id => f.id %>
					<br/>
				<% end %>
			</div>
		</td>
		<td>
			标题：
			<%= @page[:title]%>
			<br/>
			内容：
			<%= @page[:content]%>
		</td>
	</tr>
</table>