<div style="border:1px solid;background-color:white;position:absolute;left:405px;top:335px;width:300px;height:300px">
	<% for @venue_name in @venue_names%>
		<%= link_to_remote @venue_name, :update => "venue_edit_box", :url => {:action => "save_selected_venue", :name => @venue_name}%>
		<br/>
	<% end %>
</div>
