<%=select(:region, :name, @regions_name, { :include_blank => false, :selected => session[:region] }, :onchange => remote_function(:update => "jump_for_sub_item",
:method => "get",
:with => "'region_name=' + value",
:url => { :controller => :search, :action => :jump_for_sub_item})) -%>
