<div >
    <%= link_to "首页",:controller => :main,:action=>"index" %>
    <span>></span>
    <%= link_to "查询",:controller => :search,:action=>"index" %>
    <span>></span>
	<%= link_to "推荐",:controller => :search,:action=>"recommend" %>
</div>
