<table border=1>
    <tr>
        <td>
            序号
        </td>
        <td>
            场地名称
        </td>
        <td>
            时段
        </td>
        <td>
            价格
        </td>
        <td>
            可预定日期
        </td>
        <td>
            预订情况
        </td>
        <td>
            验证码
        </td>
    </tr>
	
</table>
