<div id ="navi" style="height:50px;border:1px solid;">
    导航
</div>
<div id="searchbar" style="height:200px;border:1px solid;">
   左侧信息栏，包括地址，地图等
</div>
<div id="noti" style="border:1px solid;height:500px">
   中间详细信息栏
</div>
<div id="recom" style="border:1px solid">
    我来推荐
</div>
