<%= link_to "关于我们",:controller => :pagemanage,:action=>"about" %>
<span>&nbsp</span>
<%= link_to "联系我们",:controller => :pagemanage,:action=>"contact" %>
<span>&nbsp</span>
<%= link_to "帮助中心",:controller => :pagemanage,:action=>"help" %>