<h1>编辑页面</h1>

<% form_for(@page) do |f| %>
	<%= render :partial => "edit_form", :locals => { :f => f } %>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '显示', @page %> |
<%= link_to '返回', pages_path %>