<ul>
         <li>
    <%= link_to("个人信息",{ :controller => :user,:action=>"index"})%>
        </li>
        <li>
    <%= link_to("密码管理",{ :controller => :user,:action=>"modify_pwd"})%>
        </li>
        <li>
    <%= link_to("登录信息管理",{ :controller => :user,:action=>"login_infor"})%>
        </li>
    </ul>
