
<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<p>
    <label for="login">
        提示问题：
    </label>
    <br/>

    <%= f.text_field :login %>
</p>
<p>
    <label for="email">
        答案：
    </label>
    <br/>
    <%= f.text_field :email %>
</p>

<p>
    <%= submit_tag '提交' %>
</p>
<% end -%>


