<div style="width:200px">
    运动记录
    <ul>
        <li>
            本月锻炼
        </li>
        <li>
            会员卡管理
        </li>
        <li>
            当前预定
        </li>
    </ul>
</div>
<div>
    帐号管理
    <ul>
        <li>
            密码管理
        </li>
        <li>
            登录信息管理
        </li>
    </ul>
</div>
<div style="height:600px;width:600px;border:1px solid;position:absolute;left:200px;top:150px;">
	detail
</div>