<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>burlin</title>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>
        <!-- top -->
		<div id="login" style="height:30px;border:1px solid;">
			登录
		</div>
        <div id ="top" style="height:60px;border:1px solid;">
        	广告
        </div>
        <!-- body -->
        <div id="body">
        	<table width="100%" height="40px" border="solid 1px">
        		<tr>
        			<td width="300px" border="solid 1px">天气</td>
					<td border="solid 1px">导航</td>
        		</tr>
        	</table>
        </div>
		<div>
			<%=yield%>
		</div>
        <!-- bottom -->
        <div id="bottom">
        </div>
    </body>
</html>
